# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
.externalNativeBuild
.cxx
local.properties
/build
/app/build
captures
*.hprof

# Output files
/app/release/
*.apk
*.aab

# OS files
.DS_Store
Thumbs.db
